[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Nazarii Stechyshyn
	email = 97112870+Nazarii777@users.noreply.github.com
